#root {
	height: 100vh;
}

.wrapper {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.25em;
	padding: 2em 0;
	width: fit-content;
	margin: 0 auto;
	height: auto;
}

.heading,
.card,
.btn {
	position: relative;
	overflow: hidden; /* Importante para contener el efecto */
}

.heading::before,
.card::before,
.btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 50%;
	height: 100%;
	background: linear-gradient(
		120deg,
		transparent,
		rgba(255, 255, 255, 0.3),
		transparent
	);
	transition: 0.5s;
	pointer-events: none;
}

.heading:hover::before,
.card:hover::before,
.btn:hover::before {
	left: 100%;
}

.heading {
	background-color: #000000ba;
	border-radius: 15px;
	font-family: roboto;
	font-size: 35px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	-webkit-text-stroke: 0px #ffffff;
	border: 2px solid #00ff2f;
	width: fit-content;
	padding: 0.2em 1em;
	margin: 0 auto;
}

.heading:hover {
	box-shadow: 0 0 25px 0 #000000bb;
	border: 2px solid #ffffff;
	color: #00ff2f;
}

.card {
	color: #fff;
	text-shadow: 1px 1px 2px black;
	text-align: center;
	font-size: 25px;
	width: 100%;
	aspect-ratio: 16/9;
	background-image: url('./assets/images/rectangle.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: auto;
}

.phrase :hover {
	color: #1aff00;
}

.card:hover {
	/* color: #1aff00; */
	transform: scale(1.1);
	transition: transform 1s ease;
}

.card__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 650px;
	height: 100%;
	padding: 0 2em;
	margin: 0 auto;
}

.btn {
	background-color: #000;
	font-family: roboto;
	font-size: 23px;
	font-weight: bold;
	color: #fff;
	border: 2px solid #fff;
	box-sizing: border-box;
	border-radius: 15px;
	width: fit-content;
	padding: 0.2em 1em;
	margin: 0 auto;
	transition: box-shadow 0.2s, color 0.2s, background 0.2s, border-color 0.2s;
}

.btn:hover {
	background-color: #000;
	color: #1aff00;
	border: 2px solid #1aff00;
	box-shadow: 0 0 8px #1aff00;
	transform: scale(1.1);
	transition: transform 0.5s ease;
}
